# /rough/
.vscode/settings.json
**/*.pyc
**/__pycache__/
custom_objects/__pycache__/__init__.cpython-312.pyc
custom_objects/__pycache__/decorators.cpython-312.pyc
movies/data/movie.csv
movies/data/dataset_prepared.tfrecord
movies/saved_models/model_1_dnn.keras
